<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="chart-bundle">
            <directory>tests</directory>
            <exclude>tests/Chart</exclude>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_CLASS" value="Kematjaya\ChartBundle\Tests\AppKernel" />
        <server name="APP_ENV" value="test" force="true" />
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
